@import "variables";
@import "mixins";
@import "navbar";
@import "hero";
@import "partners";
@import "courses";
@import "category";
@import "testimonials";
@import "news";
@import"joinus";



body{
    background-color: $primary-bg;
    color:$text-color;
    font-family: 'Montserrat', sans-serif;

}