@import "variables";
@import "mixins";
@import "navbar";
@import "hero";
@import "partners";
@import "courses";
@import "category";
@import "testimonials";
@import "news";
@import "joinus";
@import "footer";



body {
    background-color: $primary-bg;
    color: $text-color;
    margin: 0 0;
    font-family: 'Montserrat', sans-serif;

}